[client]
port            = 3306
socket          = /tmp/mysql.sock

[mysqld]
port            = 3306
socket          = /tmp/mysql.sock
pid-file        = /tmp/mysql.pid
skip-locking
skip-name-resolve
key_buffer_size = 64M
max_allowed_packet = 16M
table_cache = 64
wait_timeout=28800
sort_buffer_size = 8M
net_buffer_length = 8K
read_buffer_size = 8M
thread_cache_size = 8M
read_rnd_buffer_size = 8M
table_open_cache = 2048
bulk_insert_buffer_size = 32M
myisam_sort_buffer_size = 64M
myisam_max_sort_file_size = 4G
join_buffer_size = 32M
max_heap_table_size = 64M
myisam_repair_threads = 1
binlog_cache_size = 32M
max_connections=2048
query_cache_size=1024M
#transaction-isolation=READ-COMMITTED 
character-set-server=utf8
innodb_file_per_table
datadir=/home/mysql/var/
innodb_data_home_dir = /home/mysql/var/
innodb_data_file_path              = ibdata1:100M:autoextend
innodb_log_file_size               = 256M
innodb_log_files_in_group = 3
innodb_buffer_pool_size = 18G
innodb_additional_mem_pool_size    = 20M
innodb_log_buffer_size = 8M
innodb_file_io_threads = 4
innodb_fast_shutdown=1
innodb_flush_log_at_trx_commit = 2
innodb_lock_wait_timeout           = 50
innodb_thread_concurrency = 16
#innodb_flush_method = O_DIRECT
sync_binlog=100
log-bin=mysql-bin
binlog_format=mixed
tmp_table_size = 64M
#slow_query_log
#long_query_time = 1
#log-queries-not-using-indexes
server-id       = 1
expire_logs_days=15
sql-mode=STRICT_TRANS_TABLES


[mysqldump]
quick
max_allowed_packet = 16M

[mysql]
no-auto-rehash

[isamchk]
key_buffer = 20M
sort_buffer_size = 20M
read_buffer = 2M
write_buffer = 2M

[myisamchk]
key_buffer = 20M
sort_buffer_size = 20M
read_buffer = 2M
write_buffer = 2M

[mysqlhotcopy]
interactive-timeout